.email-container{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 700px;
    align-items: center;
    justify-content: center;
    margin: 120px 0 0 370px;
    /* border: 1px solid black; */
}
.email-input{
   width: 500px;
}
.email-btn{
    height:30px;
    width: 300px !important;
margin-left: 100px;
position: fixed;
overflow: hidden;
}